pandas>=2.2.0
requests>=2.32.0
flask>=3.0.0
scikit-learn>=1.5.0
pytest>=8.0.0
numpy>=1.26.0
psycopg2-binary>=2.9.9
joblib>=1.4.2

# Dashboard + visualización
streamlit>=1.35.0
seaborn>=0.13.2
matplotlib>=3.9.0




